
.reveal { font-size: 25px; line-height: 1.7em; letter-spacing: 0; }

.reveal em { font-family: serif; }
.reveal p { text-align: left; margin-top: 1em; margin-left: 1em; }

.reveal table { padding-top: 1em; }
.reveal table td { padding-left: 1em; padding-right: 1em; }
.reveal table td:first-child { padding-left: 0em; }
.reveal table td:last-child { padding-right: 0em; }
.reveal ul { padding-top: 1em; }

.reveal ul li { list-style-type: none; }
.reveal ul li p { margin-top: 0; margin-left: 0; }

.reveal .sentences table { width: 100%; }
.reveal .sentences table td { width: 50%; }

.reveal .centering p { text-align: center; margin-top: 0; margin-left: 0; }
.reveal .centering ul li { text-align: center; }

